# See `docs/setups/hetzner-cloud.md`.
HCLOUD_MODE=fake
HCLOUD_TOKEN=example000000000000000000000000000000000000000000000000000000000

# See `docs/setups/clerk.md`.
CLERK_MODE=fake
CLERK_FRONTEND_API_URL=https://example.clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_example
