# See `docs/setups/clerk.md`.
CLERK_FRONTEND_API_URL=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SIGNING_SECRET=
# See `docs/setups/hetzner-cloud.md`.
HCLOUD_TOKEN=
HCLOUD_LOCATIONS=nbg1,fsn1,hel1
HCLOUD_FIREWALL_ID=
HCLOUD_CONTROLLER_ID=
HCLOUD_IMAGE=ubuntu-24.04
SSH_ACCESS_ENCRYPTION_KEYS=
# For testing; values optional.
HCLOUD_FAKE_URL=
CLERK_API_URL=
