LICENSE
node_modules/
coverage/
vendor/
tmp/
pnpm-lock.yaml
packages/ide/lib/vscode/
packages/ide/overlay/
packages/ide/out/
packages/ide/release/
packages/ide/upstream/
**/.cache/
dist/
build/
.next/
.source/
